.reservas-lista h2 {
    font-size: 32px;
    margin-bottom: 3%;
    text-align: center;
    margin-top: 5%;
}

.aviso-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .aviso-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .aviso-container p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .aviso-container button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .aviso-container button:hover {
    background-color: #0056b3;
  }

.topo-docente {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    border-bottom: 2px solid #ddd;
  }
  
  .voltar-button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  
  .voltar-button:hover {
    background-color: #0056b3;
  }
  
  .docente-info {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  
  .docente-info h2 {
    margin-left: 10px;
    font-size: 22px;
    color: #333;
  }
  

.icon-chave {
    margin-left: 10px; 
    color: #FFD700; 
    font-size: 1.2rem;
  }
  

.titulo-docente {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    font-size: 25px;
}

.photo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.reservas-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.reserva-item h3 {
    text-align: center; 
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 27px;
    margin-left: 35%;
}

.reserva-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin: 20px 0;
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservas-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 10px;
}

.info-balao {
    font-size: 22px;
    background-color: #e0f7fa;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

.buttons-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.buttons-container button {
    background-color: #000;
    color: #fff;
    border: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px;
    width: 50%;
}

.buttons-container button:hover {
    background-color: #2c56eb;
}

/* Adicionando responsividade */
@media (max-width: 768px) {
    .reservas-columns {
        flex-direction: column; /* Para telas menores, mude para coluna */
    }

    .column {
        margin: 0; /* Remover margens laterais em telas menores */
        width: 100%; /* Garantir que as colunas ocupem 100% */
    }
}
